<section class="section" id="skills">
    <h2 class="section-title">Skills</h2>
    <div class="skills-container">
        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-project-diagram"
                    style="margin-right: 8px; font-size: 0.9em;"></i> Integration Platforms & API</h3>
            <ul class="skill-items pills">
                <li>MuleSoft</li>
                <li>IBM Suite (IIB, ACE, MQ, API Connect, DataPower)</li>
                <li>Boomi</li>
                <li>Solace</li>
                <li>AWS Integration Services (API Gateway, SQS, SNS, Lambda)</li>
                <li>Workato<sup>#</sup>,TIBCO<sup>#</sup></li>
            </ul>
        </div>

        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-cloud" style="margin-right: 8px; font-size: 0.9em;"></i> Cloud &
                DevOps</h3>
            <ul class="skill-items pills">
                <li>AWS (EC2, S3, Lambda, DynamoDB, CloudFormation)</li>
                <li>Azure<sup>#</sup>(Logic Apps, Functions, API Management, Service Bus, Event Grid)</li>
                <li>GCP,Pub/Sub<sup>#</sup></li>
                <li>Docker, Kubernetes<sup>#</sup></li>
                <li>Jenkins, GitHub Actions, Maven, Azure DevOps<sup>#</sup>,GitLab CI<sup>#</sup></li>
            </ul>
        </div>

        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-code" style="margin-right: 8px; font-size: 0.9em;"></i> API,
                Languages & Observability</h3>
            <ul class="skill-items pills">
                <li>REST, SOAP, GraphQL, AsyncAPI, gRPC</li>
                <li>API Security: OAuth 2.0, OpenID Connect, SAML, JWT</li>
                <li>API Governance & Lifecycle Management</li>
                <li>Java/JavaScript/Python</li>
                <li>React<sup>#</sup>, Flutter<sup>#</sup></li>
                <li>Dynatrace, Splunk, ELK, Grafana, New Relic<sup>#</sup></li>
            </ul>
        </div>

        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-database" style="margin-right: 8px; font-size: 0.9em;"></i>
                Databases, OS & ERP</h3>
            <ul class="skill-items pills">
                <li>Oracle, MS SQL Server, MySQL</li>
                <li>MongoDB, Amazon DynamoDB</li>
                <li>Snowflake<sup>#</sup>, Amazon RDS<sup>#</sup>, IBM DB2<sup>#</sup></li>
                <li>Linux, Windows Server, AIX</li>
                <!--<li>IBM Advanced Interactive eXecutive (AIX)</li>-->
                <li>Android Play & Apple App Store - Admin</li>
                <li>SAP R/3, SAP ERP (ECC), SAP CRM, S/4HANA<sup>#</sup></li>
            </ul>
        </div>

        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-sitemap" style="margin-right: 8px; font-size: 0.9em;"></i>
                Methodologies & Architecture</h3>
            <ul class="skill-items pills">
                <li>Agile (Scrum, Kanban)</li>
                <li>TDD, BDD</li>
                <li>Event-Driven Architecture (EDA)</li>
                <li>Domain and Data Driven Design (DDD)</li>
                <li>TOGAF</li>
                <li>AI Chain of Thought prompting</li>
            </ul>
        </div>

        <div class="skill-category">
            <h3 class="category-title"><i class="fas fa-box" style="margin-right: 8px; font-size: 0.9em;"></i> Vendor
                Products</h3>
            <ul class="skill-items pills">
                <li>Manhattan Active Omni (Order Management)</li>
                <li>Channel Advisor Marketplace Fanatics Retail</li>
                <li>Epsilon Loyalty Management</li>
                <li>Stripe Connect (Payment Processing)</li>
                <li>Salesforce Commerce Cloud (SFCC)</li>
                <li>Salesforce Marketing Cloud (SFMC)</li>
            </ul>
        </div>

    </div>
    <p style="text-align:center;"><em><span class="limited-exposure"><strong>#</strong> = Limited Exposure</span></em>
    </p>
</section>