<div class="profile-section" id="profile-section">
    <img src="./assets/images/sid-mini-pic.jpg" alt="Sid" class="profile-image">
    <h1 class="profile-title">Siddharth Shanmugam</h1>
    <h2 class="profile-subtitle">Integration Architect | Bridge business needs with technical execution | System
        Integration | API | EDA</h2>
    <p class="profile-description">
        Results-driven professional with over 20 years of expertise in development, design, and architecture,
        specializing in Integration and Solution Architecture. Proficient in Application and System Integration for
        functional and technical projects, with extensive experience in SOA, ESB, microservices, event-driven, and
        API-driven designs. Demonstrated success in leading large-scale integration projects across domains.
        <br />Proven ability to bridge business needs with technical execution, highly skilled at stakeholder
        engagement, vendor coordination, and driving technical collaborations, including with R&D teams.
        <!-- <br/> <em>Full employment history available upon request.</em> -->
    </p>
    <div class="profile-contact">
        <a href="mailto:sid.shan@outlook.com" class="contact-item">
            <i class="fas fa-envelope"></i> sid.shan@outlook.com
        </a>
        <a href="https://www.linkedin.com/in/sidshan/" class="contact-item" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <!--<a href="https://sid-inthub.github.io/" class="contact-item" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i> GitHub
    </a> -->
    </div>
    <div class="profile-availability">
        {{ page.availability_status }}
    </div>
</div>